option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: petrasche.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

  aws:elbv2:listener:80:
      DefaultProcess: http
      ListenerEnabled: 'true'
      Protocol: HTTP
      Rules: ws
  aws:elbv2:listener:443:
      ListenerEnabled: 'true'
      Protocol: HTTPS
      SSLCertificateArns: aws:acm:ap-northeast-2:109871150736:certificate9a169845-ea24-411b-bfa1-3e20eb58d6ff
      SSLPolicy: ELBSecurityPolicy-2016-08
      Rules: ws
  aws:elbv2:listenerrule:ws:
      PathPatterns: /ws/*
      Process: websocket
      Priority: 1
  aws:elasticbeanstalk:environment:process:http:
      Port: '80'
      Protocol: HTTP
  aws:elasticbeanstalk:environment:process:websocket:
      Port: '8001'
      Protocol: HTTP
